<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".platform.SpatialApplication"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_spatial_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_spatial_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomeMarkersTheme"
        tools:targetApi="31">

        <meta-data
            android:name="com.pico.spatial.SPATIAL_APP"
            android:value="true" />

        <activity
            android:name=".platform.LaunchActivity"
            android:exported="true"
            android:theme="@style/Theme.HomeMarkersTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Full Space Mixed Stage: anchors cannot be created in Shared Space. -->

            <!-- The unique name/id of a WindowContainer -->
            <meta-data android:name="pico.spatial.stage.id" android:value="HomeMarkersStage" />
            <meta-data android:name="pico.spatial.stage.style" android:value="1" />

        </activity>
        <meta-data android:name="icon.3d.list" android:resource="@array/icon_3d_list" />
        <meta-data android:name="icon.sdf.list" android:resource="@array/icon_sdf_list" />
    </application>

</manifest>
